*{
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  height: 100%;
  display: flex;
}

.content {
  flex-grow: 1;
  padding: 2rem 3rem 0rem 3rem;
  margin-top: 1rem;
  background-color: #FBFAFF;
  border-radius: 20px 0 0 0;
  height: calc(100vh - 3rem);
}

@media (width <= 768px){
  .content{
    border-radius: 20px 20px 0 0;
  }
}
